header{
    background-color: blueviolet;
    padding: 20px;
    nav {
        display: flex;
        justify-content: center;
            ul {
            list-style: none;
            }
  
            li { display: inline-block;
                a { color: aliceblue;
                    text-decoration: none;
                    &:hover{
                        font-weight: bold; 
                        background-color: darkgreen; 
                    }
                    &:visited { 
                        color: red;
                    }
                }
            }

    }
    
}